help discuss /usr/src/make_meeting/remctl-help.sh user=pergamon-dsadmin ANYUSER
discuss make-private-meeting /usr/local/bin/make-meeting-wrapper user=pergamon-dsadmin ANYUSER
discuss make-public-meeting /usr/local/bin/make-meeting-wrapper user=pergamon-dsadmin ANYUSER
discuss make-meeting /usr/local/bin/make-meeting-limited user=pergamon-dsadmin ANYUSER
discuss set-read-acl /usr/local/bin/make-meeting-wrapper user=pergamon-dsadmin ANYUSER
